.profile-dropdown {
  position: absolute;
}

.nav-bar-container {
  width: 100%;
  padding-right: 10px;
  height: 50px;
  position: fixed;
  border-bottom: 1px solid #3F4050;
  top: 0;
  background-color: #281928;
}